<ion-header>

  <ion-navbar>
    <ion-title>shopping List</ion-title>
  </ion-navbar>

</ion-header>
<!-- 
TEMPLATE DRIVEN -->

<ion-content padding>
  <!-- 
FORMULAIRE ANGULAR 4 -->
  <form #f="ngForm" (ngSubmit)="ajouterElement(f)" >
  <ion-list>
    
      <ion-item>
        <ion-label floating>Nom de l'ingrédient</ion-label>
          <ion-input
            type="text" 
            name="nomIngredient"
            required
            ngModel >
          </ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Nombre</ion-label>
         <ion-input 
            type="number" 
            name="nombreIngredient" 
            required
            ngModel
            >
          </ion-input>
      </ion-item>
    
    </ion-list>

   <!-- rend invalide le formulaire si celui-ci n\est pas correctement rempli  -->
    <button 
    ion-button 
    block 
    type="submit"
    
    [disabled]="!f.valid">
      Ajouter l'élément
    </button>
  </form>



  <ion-content  >
      <ion-list >
        <ion-item-sliding *ngFor="let item of shopList; let i = index" >
          <ion-item>
              <h2>{{ item.name }}</h2>
              <p> {{ item.nombre }}</p>
          </ion-item>
          <ion-item-options>
            <button ion-button (click)="supprimerDeShoppingList(i)" color="danger">
              <ion-icon name="trash"></ion-icon>
              Supprimer
            </button>
          </ion-item-options>
        </ion-item-sliding>
      
      </ion-list>
      
      </ion-content>




<!--   <ion-list inset>
    <ion-grid>
            <ion-row *ngFor="let item of shopList">
              <ion-col> <button ion-item >{{ item.name }}</button></ion-col>
              <ion-col><button ion-item > {{ item.nombre }}</button></ion-col>
            </ion-row>
        
    </ion-grid>
  </ion-list>
</ion-content> -->


<!-- 
      <button ion-item *ngFor="let item of shopList">
        {{ item.name }} 
      </button>  -->

